.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text],
input[type=email],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 4px 12px;
    box-sizing: border-box;
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 2px 8px;
    border-radius: 6px;
}

.login-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: rgb(53, 122, 232);

    transition-duration: 150ms;
}

.login-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(77, 145, 254);
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

h3.login-head {
    text-align: center;
}

.login-card a.register {
    width: 100%;
    display: block;
    position: relative;

    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;

    border: 0px;
    color: #fff;
    background-color: #737373;

    transition-duration: 150ms;
}

.login-card a.register:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #808080;

}

div.return-link {
    text-align: center;
}

div.return-link a {
    color: rgb(0, 147, 147);
    font-weight: bold;
}

div.welcome {
    width: 75%;
    background-color: #F7F7F7;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

div.category {
    padding: 30px 20px;
    text-align: center;
    border-radius: 6px;
}

div.welcome-sub {
    background-color: rgb(221, 221, 221);
    border-radius: 6px;

    box-shadow: 1px 1px 2px #acacac inset;
    padding: 12px 10px;
    margin: 10px;
    width: 175px;
}

div.welcome h1 {
    font-size: 35px;
}